@import "config";

.container-carousel {
  width: 100vw;
  height: 100vh;
  z-index: $zindexBackdrop;

  .carousel {
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .slide__caption-1 {
    position: absolute;
    top: 50%;
    border: 1px solid black;
    color: $white;
    @include default-font-mixin;

  }

  .slide__caption-2 {
    @extend .slide__caption-1;
  }

  .slide__caption-3 {
    @extend .slide__caption-1;
  }
}

