@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

// Images
//-----------------------------
$base-img-url: '/assets/pubhub2.jpg';
$base-img-logo: '/assets/boulderlogo.png';

// Color palette
//-----------------------------
$lightblue: #a8dde6;
$medblue: #374785;
$tan: #f8e9a1;
$salmon: #f76c6c;
$navyblue: #24305e;

// Button mixens


// Primary colors
//-----------------------------
$blue: #3481CF;
$white: #FFFFFF;
$black: #000000;
$gray: #7F7F7F;

// Derivative colors
//-----------------------------
$dark-gray: darken($gray, 23.14%);
$darker-gray: darken($dark-gray, 6.6667%);
$darkest-gray: darken($dark-gray, 17.25%);

// Font information
//-----------------------------
$default-font-family: 'Playfair Display', serif;
$accent-font-family: 'Montserrat', sans-serif;
$header-font-family: 'BioRhyme', serif;
$review-header-font: 'Dosis', sans-serif;
$review-text-font: 'Raleway', sans-serif;
$default-browser-size: 16;
$default-font-size: 14px;
$sectionHeading: 24px;
$headerHeading: 46px;
$font-color: $dark-gray;
$anchor-color: $darker-gray;
$darkest-color: $darkest-gray;

// Font mixins

@mixin review-header($weight:normal){
  font-family: $review-header-font;
  font-size: $headerHeading;
  font-weight: $weight;
  font-style: italic;
  color: $white;
}

@mixin review-text($weight:normal){
  font-family: $review-text-font;
  font-size: $sectionHeading;
  font-weight: $weight;
  font-style: italic;
  color: $white;
}


// Z-index variable
//-----------------------------

$zindexModal: 9;
$zindexOverlay: 8;
$zindexHeader: 7;
$zindexBackdrop: 6;
$zindexBackBackdrop: 5;

// Responsive
//-----------------------------
$small-screen-min-width: 320px;
$small-screen-max-width: 568px;
$medium-screen-min-width: 768px;
$medium-screen-max-width: 1024px;
$large-screen-min-width: 1824px;


