@import "config";

.carousel__container {
  width: 100vw;
  height: 100vh;
  z-index: $zindexBackdrop;

  .carousel__inner-container {
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .carousel__caption {
    position: absolute;
    top: 50%;
    color: $white;

    h3 {
      @include review-header(bold)
    }

    p {
      @include review-text(normal)
    }
  }

  .award {
    height: 10rem;

    .award__img {
      z-index: $zindexBackBackdrop;
      width: 10rem;
    }
  }
}
