@import "config";

.container__carousel {
  width: 100vw;
  height: 100vh;
  z-index: $zindexBackdrop;

  .carousel {
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .carousel__caption {
    position: absolute;
    top: 50%;
    border: 1px solid black;
    color: $white;
    @include default-font-mixin;
  }
}

