@import "config";

.menu__container{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .menu__header{
        font-family: $menu-font-family;
        color: $darker-gray;
        margin-bottom: 30px;
    }

    .menu__header--view{
        color: $medblue;
        font-size: 10px;
    }
    
    .menu__btn{
        margin-right: 10px;
        border-color: $tan;
        font-family: $accent-font-family;


        &:hover{
            background-color: $tan;
            color: $medblue;
            
        }
    }
}