@import "_config";

.navbar {
  background-color: $tan;
  color: $dark-gray;
  font-family: $review-header-font;
  font-weight: normal;
  z-index: 1000;


}

//.navbar__logo {
//  //height: 100px;
//  //width: 200px;
//  z-index: 10;
//  background-image: $base-img-logo;
//}
//  //.navbar__logo__img {
//  //}
//
//.navbar__outer-div{
//  z-index: 10000;
//}

.logo {
  z-index: 10000;
  position: absolute;
  top: 0;
  //height: 5rem;
  //width: 30rem;
  transform: translate(17px, -75px)
}

  .navbar--right {
    color: $medblue !important;
  }
.navbar__link {
  transform: translateX(12.5rem);
  color: $medblue !important;

  &:hover {
    color: $white;
  }

}
